<!DOCTYPE html>
<html>

<!--source list-->
<head>
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="app.js"></script>
</head>
<!--source list-->

<body>


<!--Login page-->
<div id="EiffelTower" ng-controller="MainCtrl" >
    <div id="login body" ng-app="HappyB" ng-controller="MainCtrl">
        <form id="login">
            <h2>Happy Buildings</h2>
            <input type="text" class="input_field" placeholder="Enter Username" id="username" ng-model ="if_username"/>
            <!--<div ng-bind="username"></div>-->
            <input type="password" class="input_field" placeholder="Enter Password" id="password" ng-model ="if_password"/>
            <!-- <div ng-bind="password"></div>-->
            <input type="submit" class="submit button" value="Login" ng-click="checkLogin()">
            <input type="submit" class="submit button" value="Cancel" ng-click="cancelLogin()">
            <br />
            <br />
            <p id="feedback" ng-bind="feedback"></p>

        </form>
    </div>
</div>
<!--Login page-->

</body>

</html>