<!DOCTYPE html>
<html ng-app="HappyB"><!--[Angular]app.js, var app []-->

<!--index source list-->
<head>
  <meta charset="utf-8" />
  <script>document.write('<base href="' + document.location + '" />');</script>
  <link rel="stylesheet" href="style.css">
  <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
  <script src="app.js"></script>
  <script src="user_list.json"></script>
</head>
<!--source list-->


<!--body start-->
<body ng-controller="MainCtrl" ><!--[Angular] app.js, app.controller-->


<!--Login page-->
<div id="loginDisplay"  ng-show = "loginVisible"> <!--[Angular] Show/Hide DIV-->

  <form id="login">
    <h2>Happy Buildings</h2>
    <input class= "if" type="text" placeholder="Enter Username" id="username" ng-model ="username"/>
    <!--<div ng-bind="username"></div>-->
    <input class= "if" type="password" placeholder="Enter Password" id="password" ng-model ="password"/>
    <!-- <div ng-bind="password"></div>-->
    <input type="submit" class="submit button" value="Login" ng-click="checkLogin()">
    <input type="submit" class="submit button" value="Cancel" ng-click="cancelLogin()">
    <br />
    <br />
    <p id="feedback" ng-bind="feedback"></p> <!--[Angular] Feedback-->
  </form>

</div>
<!--Login page-->


<!--Navagation bar title-->
<div id="indexDisplay"  ng-show = "indexVisible"> <!--[Angular] Show/Hide DIV-->
  <div class="header">
    <h1><center>HAPPY BUILDINGS</h1></center> </h1>
  </div>
  <!--Navagation bar title-->


  <!--Navagation bar tabs-->
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Building Directory')">Building Directory</button>
    <button class="tablinks" onclick="openTab(event, 'Building Information')">Building Information</button>
    <button class="tablinks" onclick="openTab(event, 'Project Information')">Project Information</button>
    <button class="tablinks" onclick="openTab(event, 'Work')">Work</button>
    <button class="tablinks" onclick="openTab(event, 'Issue')">Issue</button>
  </div>
  <!--Navagation bar tabs-->


  <!--Building Directory-->
  <div id="Building Directory" class="tabcontent">
    <h3><center>Building Directory</center></h3>

    <div id="content">
      <div id="main_content">
        <form>
          <table align="center">
            <tr>
              <td width="43%" class="right">Building ID:</td>
              <td Width="57%"><input type="text" name="bId" id="bId" size="50" autofocus="autofocus" required="required"></td>
            </tr>
            <tr>
              <td class="right">Building Name:</td>
              <td Width="57%"><input type="text" building name="building name" id="bName" size="50" required="required"></td>
            </tr>

            <tr>
              <td class="right">Building Address</td>
              <td>
                <select name+"found" id="foundyou">
                <option value="">Select One</option>
                <option value="address 1">Address 1</option>
                <option value="address 3">Address 2</option>
                <option value="address 3">Address 3</option>
                </select>
              </td>
            </tr>

            <tr>
              <td class="comments">Comments:</td>
              <td>
                <textarea name="message" id="message" cols="50" rows="6"></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="center"><input <type"submit" value="Send Now"></td>
            </tr>
          </table>
        </form>

      </div><!--end main_content-->

      <div id="sidebar">


      </div><!--end sidebar-->

      <div class="clear"></div>
    </div><!--end content-->
    <div id="footer"></div><!--end footer-->


  </div>
  <!--Building Directory-->


  <!--Building Information-->
  <div id="Building Information" class="tabcontent">
    <h3><center>Building Information</center></h3>

    <div id="content">
      <div id="main_content">
        <form>
          <table align="center">
            <tr>
              <td width="43%" class="right">Building ID:</td>
              <td width="57%" ><input type="text" name="bId" id="bId" size="50" autofocus="autofocus" required="required"></td>
            </tr>
            <tr>
              <td width="43%" class="right">Building Name:</td>
              <td width="57%"><input type="text" name="bName" id="bName" size="50" ></td>
            </tr>
            <tr>
              <td class="right">Building Address</td>
              <td>
                <select name+"found" id="foundyou">
                <option value="">Select One</option>
                <option value="address 1">Address 1</option>
                <option value="address 3">Address 2</option>
                <option value="address 3">Address 3</option>
                </select>
              </td>
            </tr>
            <tr>
              <td width="43%" class="right">Building Owner:</td>
              <td width="57%"><input type="text" name="bOwn" id="bOwn" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="right">Building Type:</td>
              <td width="57%"><input type="text" name="bType" id="bType" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="right">Construction Type:</td>
              <td width="57%"><input type="text" name="cType" id="cType" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="right">Project List:</td>
              <td width="57%"><input type="text" name="pList" id="pList" size="50" ></td>
            </tr>
            <tr>
              <td class="comments">Comments:</td>
              <td>
                <textarea name="message" id="message" cols="50" rows="6"></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="center"><input <type"submit" value="Send Now"></td>
            </tr>
          </table>
        </form>

      </div><!--end main_content-->
    </div>
    <div id="sidebar">


    </div><!--end sidebar-->

    <div class="clear"></div>

    <div id="footer"></div><!--end footer-->
  </div>
  <!--Building Information-->


  <!--Project Information-->
  <div id="Project Information" class="tabcontent">
    <h3><center>Project Information</center></h3>

    <div id="content">
      <div id="main_content">
        <form>
          <table align="center">
            <tr>
              <td width="43%" class="right">Project Title:</td>
              <td Width="57%"><input type="text" name="pTitle" id="pTitle" size="50" autofocus="autofocus" required="required"></td>
            </tr>
            <tr>
              <td width="43%" class="right">Project Status:</td>
              <td Width="57%"><input type="text" name="pStatus" id="pStatus" size="50" ></td>
            </tr>
            <tr>
              <td class="right">Start Date</td>
              <td Width="57%"><input type="text" name="sDate" id="sDate" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="right">End Date:</td>
              <td Width="57%"><input type="text" name="eDate" id="eDate" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="right">Manager:</td>
              <td Width="57%"><input type="text" name="manager" id="manager" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="right">Manager's Contact Details:</td>
              <td Width="57%"><input type="text" name="mCon" id="mCon" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="right">Scope:</td>
              <td Width="57%"><input type="text" name="scope" id="scope" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="right">Work List:</td>
              <td Width="57%"><input type="text" name="workList" id="workList" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="right">Issue List:</td>
              <td Width="57%"><input type="text" name="issueList" id="issueList" size="50" ></td>
            </tr>
            <tr>
              <td class="comments">Comments:</td>
              <td>
                <textarea name="message" id="message" cols="50" rows="6"></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="center"><input type"submit" value="Send Now"></td>
            </tr>
          </table>
        </form>

      </div><!--end main_content-->
      <div id="sidebar">


      </div><!--end sidebar-->

      <div class="clear"></div>
    </div><!--end content-->
    <div id="footer"></div><!--end footer-->
  </div><!--end-->
  <!--Project Information-->


  <!--Work-->
  <div id="Work" class="tabcontent">
    <h3><center>Work</center></h3>

    <div id="content">
      <div id="main_content">
        <form>
          <table align="center">
            <tr>
              <td width="43%" class="iTitle">Title:</td>
              <td Width="57%"><input type="text" name="iTitle" id="iTitle" size="50" autofocus="autofocus" required="required"></td>
            </tr>
            <tr>
              <td width="43%" class="wStartDate">Start Date:</td>
              <td Width="57%"><input type="wStartDate" name="wStartDate" id="pId" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="wEndDate">End Date:</td>
              <td Width="57%"><input type="wEndDate" name="wEndDate" id="pId" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="contractor">Contractor:</td>
              <td Width="57%"><input type="text" name="contractor" id="contractor" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="wScope">Scope:</td>
              <td Width="57%"><input type="text" name="wScope" id="wScope" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="constuctionType">Construction Type:</td>
              <td Width="57%"><input type="text" name="constuctionType" id="constuctionType" size="50" ></td>
            </tr>
            <tr>
              <td class="comments">Comments:</td>
              <td>
                <textarea name="message" id="message" cols="50" rows="6"></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="center"><input type"submit" value="Send Now"></td>
            </tr>
          </table>
        </form>
      </div><!--end main_content-->

      <div id="sidebar">


      </div><!--end sidebar-->

      <div class="clear"></div>
    </div><!--end content-->
    <div id="footer"></div><!--end footer-->
    <div class="clear"></div>
  </div>
  <!--Work-->


  <!--Issue-->
  <div id="Issue" class="tabcontent">
    <h3><center>Issue</center></h3>

    <div id="content">
      <div id="main_content">
        <form id="simple form">
          <table align="center">
            <tr>
              <td width="43%" class="iTitle">Title:</td>
              <td Width="57%"><input type="text" name="iTitle" id="iTitle" size="50" autofocus="autofocus" required="required"></td>
            </tr>
            <tr>
              <td width="43%" class="pId">Project ID:</td>
              <td Width="57%"><input type="text" name="pId" id="pId" size="50" ></td>
            </tr>
            <tr>
              <td class="information">Information:</td>
              <td>
                <textarea name="information" id="information" cols="50" rows="6"></textarea>
              </td>
            </tr>
            <tr>
              <td width="43%" class="iDate">Issue Date:</td>
              <td Width="57%"><input type="text" name="iDate" id="iDate" size="50" ></td>
            </tr>
            <tr>
              <td width="43%" class="raised">Raised by:</td>
              <td Width="57%"><input type="text" name="raised" id="raised" size="50" ></td>
            </tr>
            <tr>
              <td class="comments">Comments:</td>
              <td>
                <textarea name="message" id="message" cols="50" rows="6"></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="center"><input type"submit" value="Send Now"></td>
            </tr>
          </table>
        </form>

      </div><!--end main_content-->

      <div id="sidebar">



      </div><!--end sidebar-->

      <div class="clear"></div>
    </div><!--end content-->
    <div id="footer"></div><!--end footer-->
  </div>
</div>
<!--Issue-->


</body>
<!--Body end-->


</html>