body{
    background: url("https://s-media-cache-ak0.pinimg.com/originals/f7/ab/d7/f7abd7a179f7c702c0d25f59a4d99250.jpg") no-repeat center center fixed;
    background-size:100% 100%;
}
#login{
    position: absolute;
    top:35%;
    left:50%;
    transform:translate(-50%,-50%);
}
#login h2{
    text-align: center;
    color: Sienna;
    font-family: font-family: "Lato", sans-serif, bold;
    font-size: 70px;
}
#login input{
    display: block;
    width: 320px;
    height: 40px;
    padding: 10px;
    fontsize: 28px;
    font-family:sans-serif;
    color: DarkGray;
    backgroung: rgba(0,0,0,5);
    outline: none;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 5px:
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2), 0px 1px 1px rgba(255,255,255,0.2);
    margin-bottom: 10px;
}
#login #login-btn{
    background: #55acee;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 20x;
}
login body{

}